# Метод аддитивной оптимизации

In [7]:
import pandas as pd
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
import numpy as np

## Заведение исходных данных

In [8]:
weights = pd.read_csv('Искомый коэффициент значимости.csv',sep=';').set_index('Unnamed: 0').T
weights

Unnamed: 0,Район,стоимость (тыс. руб.),площадь (м2),количество комнат,этаж,материал стен,Сумма
Искомый коэффициент значимости,0.233333,0.22381,0.190476,0.07619,0.085714,0.190476,1.0

In [11]:
weightsArray = [weights['Район'], weights['количество комнат'], weights['площадь (м2)'],
 weights['этаж'], weights['материал стен'], weights['стоимость (тыс. руб.)']]
pd.DataFrame(weightsArray).T.loc['Искомый коэффициент значимости']

Район                    0.233333
количество комнат        0.076190
площадь (м2)             0.190476
этаж                     0.085714
материал стен            0.190476
стоимость (тыс. руб.)    0.223810
Name: Искомый коэффициент значимости, dtype: float64

In [12]:
data = StringIO('''Мотоцикл;Цена, руб;Год выпуска;Пробег, км;Объем двигателя, см3;Мощность двигателя, л.с. 
BMW R Nine T;1099000.00;2017;1070;1200;125 
Harley-Davidson V-Rod;5300000.00;2015;1;1250;209 
Ducati 1299 Panigale;1399000.00;2016;1600;1299;205 
BMW R 1200 GS;1305000.00;2017;4583;1170;125 
Triumph Tiger Explorer;1270000.00;2018;2900;1200;141
Веса критериев;0.33;0.07;0.25;0.13;0.22''')
data = StringIO('''Адрес;Район;Количество комнат;Площадь, м2;Этаж;Материал;Стоимость, тыс.руб.
Каслинская ул, д. 99в;Калининский;3;100;3/11;Кирпич;8600
Шагольская ул, д. 34;Курчатовский;4;89;4/5;Кирпич;2499
Шагольская ул, д. 41;Курчатовский;3;65;2/5;Панельный;2150
Прокатная ул, д. 26;Металлургический;3;91;1/16;Панельный;2250
Свободы ул, д. 88б;Советский;3;50;6/6;Кирпич;4550
Лобинский 10-й пер, д. 3;Тракторозаводский;3;63;4/5;Панельный;2180
МОПРа площадь ул, д. 9;Центральный;4;198.1;9/16;Кирпич;8000''')
df = pd.read_csv(data, sep=";").set_index('Адрес')
originalDataLen = len(df)
df.loc['Веса критериев'] = pd.DataFrame(weightsArray)['Искомый коэффициент значимости']
df.head(originalDataLen+10)

,Район,Количество комнат,"Площадь, м2",Этаж,Материал,"Стоимость, тыс.руб."
Адрес,,,,,,
"Каслинская ул, д. 99в",Калининский,3.0,100.0,3/11,Кирпич,8600.0
"Шагольская ул, д. 34",Курчатовский,4.0,89.0,4/5,Кирпич,2499.0
"Шагольская ул, д. 41",Курчатовский,3.0,65.0,2/5,Панельный,2150.0
"Прокатная ул, д. 26",Металлургический,3.0,91.0,1/16,Панельный,2250.0
"Свободы ул, д. 88б",Советский,3.0,50.0,6/6,Кирпич,4550.0
"Лобинский 10-й пер, д. 3",Тракторозаводский,3.0,63.0,4/5,Панельный,2180.0
"МОПРа площадь ул, д. 9",Центральный,4.0,198.1,9/16,Кирпич,8000.0
Веса критериев,0.233333,NaN,NaN,NaN,NaN,NaN

## Определим максимум и минимум каждого локального критерия

In [ ]:
df.loc['max'] = (df.head(5).max(axis=0))
df.loc['min'] = (df.head(5).min(axis=0))

In [ ]:
df.head(3+originalDataLen)

### Выбор критериев которые максимизируем и минимизируем  
  
Правило выбора таково:  
     1. если критерий имеет прямую зависимость с качеством товара <b>(критерий растет - качество растет), то МАКСИМИЗИРУЕМ</b>  
     2. если критерий имеет обратную зависимость с качеством товара <b>(критерий падает - качество растёт), то МИНИМИЗИРУЕМ</b>

In [ ]:
maximizationMinimizationParametrDict = {}
print('"+" - максимизируем; "-" - минимизируем.')
for columnName in df.columns:
    maximizationMinimizationParametrDict[columnName] = \
        input(f'Критерий: "{columnName}", введите +/-: ')

In [ ]:
maximizationMinimizationParametrDict

## Максимизируем/минимизируем столбцы двумя типами

In [ ]:
normalizedType1DF = df.copy()
normalizedType2DF = df.copy()
for columnName in df.columns:
    
    denominator = df[columnName]['max'] - df[columnName]['min']
    
    if maximizationMinimizationParametrDict[columnName] == '+':
        normalizedType1DF[columnName].iloc[0:originalDataLen] = \
            df[columnName].iloc[0:originalDataLen] / df[columnName]['max']
        
        normalizedType2DF[columnName].iloc[0:originalDataLen] = \
            (df[columnName].iloc[0:originalDataLen] - df[columnName]['min']) / denominator
    else:
        normalizedType1DF[columnName].iloc[0:originalDataLen] = \
            1 - df[columnName].iloc[0:originalDataLen] / df[columnName]['max']
        
        normalizedType2DF[columnName].iloc[0:originalDataLen] = \
            (df[columnName]['max'] - df[columnName].iloc[0:originalDataLen]) / denominator

### Типом 1: текущее / максимальное; 1 - текущее / максимальное

In [ ]:
normalizedType1DF.head(originalDataLen+1)

### Типом 2: ( текущее - мин ) / ( макс - мин ); ( макс - текущее  ) / ( макс - мин )

In [ ]:
normalizedType2DF.head(6)

In [ ]:
normalizedType1DF['Обобщенная функ. цели Fi'] = \
    (normalizedType1DF[:][0:originalDataLen]*normalizedType1DF[:].loc['Веса критериев']).sum(axis=1)
print('Fi max =',normalizedType1DF['Обобщенная функ. цели Fi'].max())

In [ ]:
normalizedType1DF.head(originalDataLen+1)

In [ ]:
normalizedType2DF['Обобщенная функ. цели Fi'] = \
    (normalizedType2DF[:][0:originalDataLen]*normalizedType2DF[:].loc['Веса критериев']).sum(axis=1)
print('Fi max =',normalizedType2DF['Обобщенная функ. цели Fi'].max())

In [ ]:
normalizedType2DF.head(originalDataLen+1)